<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <div class="topnav">
        <a class="active" href="http://localhost:3000/movies">Movies Site</a>
        <div class="search-container">
            <form id="form" role="search">
                <input type="search" id="search" name="q" placeholder="Search..." />
            </form>
        </div>
    </div>

    <div style="padding-left:16px"></div>

    <section id="section" class="movie_cards">
        <% movies.forEach(movie=> { %>
            <%- include('partials/movie_card', {movie: movie}) %>
                <% }) %>
    </section>

</body>

<script src="/scripts/script.js"></script>

</html>