<div class="card">
    <a href="http://localhost:3000/movies/movie/<%= movie.id %>">
        <img src="https://image.tmdb.org/t/p/w1280<%= movie.poster_path %>" class="thumbnail" />
        <h3>
            <%= movie.title %>
        </h3>
    </a>
</div>